*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("/dist/background.jpg");   
    background-size: cover;
}

#content{
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content:space-between;
    flex-direction: column; */
}

#content h1{
    color: white;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.621);
    height: 9vh;
    width: 100%;
    text-align: center;
}

.page p{
    color: white;
    text-align: left;
    word-wrap: normal;
    font-size: 2.5rem;
    width: 30%;
}
.page{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 91vh;
    justify-content: space-between;
}

.page nav{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.page nav button{
    height: 5rem;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.461);
    color: white;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.contact-info{
    width: 10rem;
}

.contact-info h2{
    font-size: 2.5rem;
    color: white;
    padding: 1rem;
}

.contact-info p{
    font-size: 2rem;
    width: 25rem;
    padding: 1rem;
}

.menu{
    display: flex;
    width: 40rem;
    gap: 6rem;
    flex-wrap: wrap;
    position: relative;
}

.menu h2{
    position: absolute;
    font-size: 4rem;
    color: white;
    left: 13rem;
    bottom: 16rem;
}

.menu p{
    padding-left: 1rem;
    width: 14rem;
    font-size: 2rem;
}